<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf_token" content="{{ csrf_token}}">
    <title>Forms</title>
</head>
<body>
    <!-- <h2> This is mahesh</h2>
    <h1> Welcome to my world</h1>
    <br>&PrecedesSlantEqual;
    <br>&minus; &plus; &times;
    <br>&phone; &bot; -->
    <form method ="POST" enctype="multipart/form-data">
        <!--security token-->
        {% csrf_token %}
        <!--using formset-->
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <script src="" async defer></script>
</body>
</html>